<div class='container mt-3'>
  <div class='row'>
    <div class='col-md-5 mx-auto'>
      <h2>User Info</h2>

      <% if @user.errors.any? %>
        <h3><%= @user.errors.count %> error prohibited this obj from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>


      <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name, class:'form-control' %><br>
        <%= f.label :image %><br>
        <%= f.file_field :profile_image, accept:'image/*', class:'mb-3' %><br>
        <%= f.label :introduction %><br>
        <%= f.text_area :introduction, class:'form-control' %><br>
        <%= f.submit 'Update User', class:'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>